*,
*::before,
*::after {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #f0f0f0;
  border: 2px solid transparent;
  scrollbar-gutter: stable;
}
*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 2px solid transparent;
  box-shadow: inset 0 0 10px 10px #aaa;
}
html {
  background: #f0f0f0;
}
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  margin-top: 0;
  color: #333;
}
body .table-container {
  background: #fff;
  max-height: 80vh;
  width: 80%;
  overflow-y: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border: 2px solid #333;
}
table th {
  background-color: lightsteelblue;
  border: 2px solid #333;
  padding: 10px 0;
}
table td {
  border: 1px solid #333;
}
table .name {
  width: 200px;
}
table .quantity,
table .value {
  width: 100px;
}
table .number {
  text-align: center;
}
table .client-name {
  background: lightblue;
  overflow: hidden;
  padding-left: 10px;
}
table .client-info {
  padding-left: 10px;
}
table .sub-total,
table .total {
  text-align: right;
  padding-right: 10px;
}
table .sub-total-value {
  font-weight: bold;
  text-align: center;
}
table .total {
  font-weight: bold;
}
table .total-value {
  background: lightblue;
}
table .separator {
  height: 2px;
  background: #333;
}
table .separator:last-child {
  display: none;
}
@media print {
  .title {
    /* display: none !important; */
  }
  .table-container {
    max-height: none !important;
  }
}
